<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body>

    <main>
     <h1>Nombre de usuario: <%=Admins[Admins.length-1].nombre-%></h1>
    <h2><%=Admins[Admins.length-1].email-%></h2>
    <img>
    </main>

    <%- include('./partials/footer')  %> 

</body>
</html>